:root {
  --color-primary: #007bff;
  --color-primary-dark: #0056b3;
  --color-primary-light: #ccd9ff;
  --color-success: #28a745;
  --color-error: #dc3545;
  --color-text: #003366;
  --color-title: #f4f4f4;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-success-dark: #1e7e34;
  --color-error-dark: #bd2130;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("../public/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--color-text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--color-title);
}

h2{
  font-size: 2rem;
  line-height: 1.1;
  color: var(--color-title);
}

@media (max-width: 768px) {
  h1{
    font-size: 2.5em;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
